<div class="iti iti--allow-dropdown">
    <div class="iti__flag-container">
       <div class="iti__selected-flag" role="combobox" aria-controls="iti-0__country-listbox" aria-owns="iti-0__country-listbox" aria-expanded="false" tabindex="0" title="Uganda: +256" aria-activedescendant="iti-0__item-ug">
          <div class="iti__flag iti__ug"></div>
          <div class="iti__arrow"></div>
       </div>
       <ul class="iti__country-list iti__hide" id="iti-0__country-listbox" role="listbox" aria-label="List of countries">
        <li class="iti__country iti__standard iti__highlight iti__active" tabindex="-1" id="iti-0__item-ug" role="option" data-dial-code="256" data-country-code="ug" aria-selected="true">
            <div class="iti__flag-box">
               <div class="iti__flag iti__ug"></div>
            </div>
            <span class="iti__country-name">Uganda</span><span class="iti__dial-code">+256</span>
         </li>
       </ul>
    </div>
    <input type="tel" id="phone" class="form-control" autocomplete="off" data-intl-tel-input-id="0" placeholder="0712 345678">
 </div>